body {
	text-align: center;
}

#char {
	position: absolute;
	background-image: url('marioSprite.png');
	width:30px;
	height:41px;
	z-index: 100;
	left: 197px;
	bottom: 150px;
}

#char.standing{
	background-position:-26 0;
}

#char.right_0{
	background-position:-55 81;
}

#char.right_1{
	background-position:-83 81;
}

#char.right_2{
	background-position:-110 81;
}

#char.right_3{
	background-position:-136 81;
}

#char.right_4{
	background-position:-166 81;
}

#char.right_5{
	background-position:-194 81;
}

#char.right_6{
	background-position:-223 81;
}

#char.right_7{
	background-position:-252 81;
}

#char.right_8{
	background-position:-277 81;
}

#char.right_9{
	background-position:-306 81;
}

#char.right_10{
	background-position:-336 81;
}

#char.right_11{
	background-position:-362 81;
}

#char.right_12{
	background-position:0 80;
}

#char.left_0{
	background-position:-55 -41;
}

#char.left_1{
	background-position:-83 -41;
}

#char.left_2{
	background-position:-110 -41;
}

#char.left_3{
	background-position:-136 -41;
}

#char.left_4{
	background-position:-166 -41;
}

#char.left_5{
	background-position:-194 -41;
}

#char.left_6{
	background-position:-223 -41;
}

#char.left_7{
	background-position:-252 -41;
}

#char.left_8{
	background-position:-277 -41;
}

#char.left_9{
	background-position:-306 -41;
}

#char.left_10{
	background-position:-336 -41;
}

#char.left_11{
	background-position:-362 -41;
}

#char.left_12{
	background-position:0 -41;
}

#game {
	position: relative;
	overflow: hidden;
	border: 2px solid black;
	width:800px;
	height:600px;
	margin: 0 auto;
}

.window {
	height:600px;
}

.column {
	float: left;
}

.tile {
	width: 25px;
	height: 25px;
}

.air {
	background-color: #66a3d2;
}

.dirt {
	z-index: 20;
	position: relative;
	background-color: #a63100;
}

.dirt:after {
	z-index: 20;
	content:"";
	position: absolute;
	right: -25px;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 25px solid #a63100;
}

.dirt:before {
	z-index: 20;
	content:"";
	position: absolute;
	left: -25px;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent; 
	border-right:25px solid #a63100; 
}

.grass {
	position: relative;
	background-color: #26972d;
}

.grass:after {
	z-index: 10;
	content:"";
	position: absolute;
	right: -25px;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 25px solid #26972d;
}

.grass:before {
	z-index: 10;
	content:"";
	position: absolute;
	left: -25px;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 0px solid transparent; 
	border-right:25px solid #26972d; 
}

.treetop {

}

.bark {

}