
body {
	font-family: 'Muli', sans-serif;
	font-weight: 100;
	padding: 0;
	margin: 0;
}

.app {
	
}

.mason-view{
	margin: 0 auto;
	display: none;
	padding-left: 235px;
}

.mason-view .bricks {
	margin: 0 auto;
}

.profile {
	position: relative;
	margin-top: 15px;
	float: left;
	-webkit-transition:all .3s;
}

.profile:hover {
	-webkit-transition:all .3s;
	box-shadow: 0px 0px 10px blue;
	cursor: pointer;
}

.selected {
	-webkit-box-shadow: inset 0px 0px 10px blue;
}

.image-container {
	position: relative;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
}

.description {
	position: absolute;
	bottom:0px;
	height:75px;
	width: 100%;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(45%,rgba(0,0,0,0.65)), color-stop(99%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-8 */
}

.description div {
	padding-left: 10px;
	display: inline-block;
	line-height: 75px;
}

.name {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	font-weight: 100;
}

.small-image {
	background-position: center-center;
}

.side-bar {
	position: fixed;
	z-index: 100;
	width: 235px;
	max-height: 100%;
	top:0px;
	left:0px;
}

.side-bar .close{
	background-color:#abc6df;
	position: absolute;
	top:108px;
	left:233px;
	color: white;
	padding: 5px;
	font-size: 30px;
}
.side-bar .close:hover {
	cursor: pointer;
}

.side-bar .header{
	font-family: 'Magra', sans-serif;
	background-color: #7ea3c7;
	color: white;
	font-size: 40px;
	padding: 5px 15px;
}

.side-bar h2 {
	font-weight:100;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 30px;
	margin-bottom:5px;
	margin-top:10px;
}

.side-bar p {
	margin:0;
	padding:0;
}

.side-bar .body {
	background-color: #033d79;
	color: white;
	font-size: 13px;
	padding: 5px 15px 20px 15px;
	overflow: hidden;
}

.side-bar .body select{
	z-index: 20;
}
.side-bar .body select:hover{
	cursor: pointer;
}

.side-bar .footer {
	font-size: 9px;
}

.login-view{
	font-family: 'PT Sans Narrow', sans-serif;
	position: fixed;
	top:0px;
	right:0px;
	padding:10px;
	color: white;
	text-align: center;
}

.login-view .join {
	background-color: #7ea3c7;
	font-size:40px;
	padding:0px 5px;
	margin-bottom:15px;
}

.login-view .join:hover {
	cursor: pointer;
}

.login-view input {
	border:none;
	width: 225px;
	padding:10px;
	font-size:20px;
	height:40px;
	line-height: 30px;
	color: white;
	background-color: #a7a7a7;
}





.login-view input::-webkit-input-placeholder {
   color: white;
   font-style: italic;
   font-size:16px;
}

.login-view input:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-style: italic;
   font-size:16px;
}

.login-view input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-style: italic;
   font-size:16px;
}

.login-view input:-ms-input-placeholder {  
   color: white;
   font-style: italic;
   font-size:16px;
}


















.customSelect { 
/* This is the default class that is used */
/* Put whatever custom styles you want here */
	margin:0 auto;
	width:175px;
	height: 35px;
	line-height:35px;
	background-color: #f7f7f7;
	color: #8c8b8b;
	padding-left:15px;
	border-radius: 5px;
	position: relative;
	z-index: 10;
}

.customSelect:after{
	content:"";
	right:15px;
	top:14px;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #8c8b8b;
}

.customSelect.customSelectHover {
/* Styles for when the select box is hovered */

}

.customSelect.customSelectOpen {
/* Styles for when the select box is open */
}

.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}

.customSelectInner {
/* You can style the inner box too */
}


















.overlay {
	display: none;
	background-color: black;
	opacity: .5;
	position: fixed;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.detail-view {
	display: none;
	position: fixed;
	z-index: 1500;
	background-color:white;
	width: 500px;
	height: 500px;
	top:50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}


.tweet{
	background-image: url('white_twitter.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left:40px;
	padding:8px 0px 8px 40px;
	border-bottom:1px solid white;
}

.tweet .username {
	font-weight:bold;
}

.tweet .content {
	font-size: 11px;
}

.tweet .timestamp{
	color: #5e758d;
	font-size: 11px;
}







.brick.twitter{
	position: relative;
	width: 225px;
	margin-top: 15px;
	color: white;
}

.brick .username {
	font-weight:bold;
	margin-bottom:10px;
}

.brick .timestamp {
	margin-top:10px;
}

.brick .logo {
	background-image: url('white_twitter.png');
	width:40px;
	height:40px;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left:-20px;
}

/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container.flipped .flipper, .flip-container.flipped .flipper {
		-webkit-transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 225px;
	height: 250px;
	/*height: 480px;*/
}

/* flip speed goes here */
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	width: 205px;
	padding: 10px;
	height: 230px;
	position: absolute;
	top: 0;
	left: 0;
}

.front .username, .back .username, .front .image, .back .image {
	display: inline-block;
}

.front a, .back a {
	color: white;
	text-decoration: underline;
}

.front .username, .back .username {
	vertical-align: top;
	padding: 14px 0px 14px 14px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
}