
body{
    margin:0;
    min-width: 750px;
}

h1{
    text-align: center;
}

.header, .leftpane, .center, .rightpane, .footer{
    border:1px solid green;
}

.header{
    width:100%;
}

.panels{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
}

.leftpane, .center, .rightpane{
    text-align: left;
    padding:10px;
    width:30%;
    display: inline-block;
}

.footer{
    width:100%;
}
